<br />
<div>
<% if(!isFirstPage){ %>
    <span style="float:left"><a title="上一页" href="?page=<%= page-1 %>">上一页</a></span>
<% } %>

<% if(!isLastPage){ %>
    <span style="float:right"><a title="下一页" href="?page=<%= page+1 %>">下一页</a></span>
<% } %>
</div>