<%- include header %>

<form method="post" class="small-form">
	<div class="form-item">
		<span class="input-tip">用户名：</span><input type="text" name="username" />
	</div>
	<div class="form-item">
		<span class="input-tip">密码：</span><input type="password" name="password" />
	</div>
	<div class="form-item">
		<span class="input-tip">确认密码：</span><input type="password" name="password-repeat" />
	</div>
	<div class="form-item">
		<span class="input-tip">邮箱：</span><input type="email" name="email" />
	</div>
	<div class="form-item">
		<input type="submit" value="注册" />
	</div>
</form>

<%- include footer %>